@model IEnumerable<CompanyAdmin.Models.Employee>

@{
    /**/

    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>



<h2>Employees</h2>
<p>
    <a href="#" class="btn btn-primary" onclick="NewEmployee()">New Employee</a>
</p>

@if (!Model.Any())
{
    <p>There are not any Employees yet.</p>
}
else
{
    <table id="employees" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Department</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
            <tr id="row_@employee.Id">
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.EmailAddress</td>
                <td>@employee.Birthdate.ToShortDateString()</td>
                <td>@employee.Department.Name</td>
                <td>
                    <a href="#" class="btn btn-success" onclick="EditEmployee(@employee.Id)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete(@employee.Id)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>

            </tr>
            }
        </tbody>
    </table>
}
<div class="modal fade" id="addEditEmployeeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Add/Edit Employee</h3>
            </div>
            <div class="modal-body" id="addEditEmployeeModalBodyDiv">


            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="deleteEmployeeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Delete Employee</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this employee? </h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                <a href="#" class="btn btn-success" onclick="DeleteEmployee()">Confirm</a>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="hiddenEmployeeId" />


@section scripts
{
<script>

    var NewEmployee = function () {

        var url = "/Employees/New";

        $("#addEditEmployeeModalBodyDiv").load(url, function () {
            $("#addEditEmployeeModal").modal("show");

        })
    }


    var EditEmployee = function (Id) {

        var url = "/Employees/Edit?Id=" + Id;

        $("#addEditEmployeeModalBodyDiv").load(url, function () {
            $("#addEditEmployeeModal").modal("show");

        })
    }



    var ConfirmDelete = function (Id) {

        $("#hiddenEmployeeId").val(Id);
        $("#deleteEmployeeModal").modal('show');

    }

    var DeleteEmployee = function () {

        var employeeId = $("#hiddenEmployeeId").val();

        $.ajax({

            type: "POST",
            url: "/Employees/Delete",
            data: { id: employeeId },
            success: function () {
                $("#deleteEmployeeModal").modal("hide");
                $("#row_" + employeeId).remove();
            }
        })
    }




</script>
}

